.product-list-container {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;  /* Centraliza o conteúdo */
    flex-direction: column;
    align-items: center;
  }
  
  .product-list-title {
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .add-product-link {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-product-link:hover {
    background-color: #0056b3;
  }
  
  .product-list {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-actions button,
  .product-actions a {
    margin-left: 10px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: var(--border-radius);
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: red;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  
  .edit-link {
    background-color: green;
  }
  
  .edit-link:hover {
    background-color: rgb(8, 65, 8);
  }
  
  .icon {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  
  .delete-icon {
    color: red;
    transition: color 0.3s ease;
  }
  
  .delete-icon:hover {
    color: darkred;
  }
  
  .edit-icon {
    color: green;
    transition: color 0.3s ease;
  }
  
  .edit-icon:hover {
    color: darkgreen;
  }
  